*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    /* outline: 1px solid red; */
}

@import 'module/header';

.intro{
    background: #F8F3F4;

    .intro_flex{
        height: 148px;
        color: #F16D7F;
        display: flex;
        justify-content: start;
        align-items: center;
    }
}



.card_basket{
    margin-top: 96px;

    .card_flex{
        gap: 40px;
    }

    .card{
        width: 652px;
        height: 306px;
        display: flex;
        gap: 31px;
        outline: 1px solid red;
    }

    .card-2{
        margin-top: 31px;
    }
}




@import 'module/subscribe';

@import 'module/footer';