* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }

.header {
  background: #222222;
  padding: 19px 0; }
  .header_flex {
    display: flex;
    justify-content: space-between; }
    .header_flex .nav_left {
      display: flex;
      align-items: center; }
      .header_flex .nav_left a {
        text-decoration: none; }
        .header_flex .nav_left a .header_logo {
          margin-right: 33px; }
    .header_flex .nav_right {
      display: flex;
      align-items: center;
      gap: 30px; }
    .header_flex .basket_header {
      position: relative; }
      .header_flex .basket_header .amount {
        color: #FFFFFF;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: #F16D7F;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -9px;
        top: -6px; }

.intro {
  height: 148px;
  background: #F8F3F4; }
  .intro .intro_flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .intro .intro_flex .intro_title {
      color: #F16D7F;
      font-size: 24px;
      margin-top: 59px; }
    .intro .intro_flex .nav_intro {
      display: flex;
      /* align-items: center; */
      margin-top: 65px; }
      .intro .intro_flex .nav_intro .link_intro {
        text-decoration: none;
        color: #636363;
        line-height: 17px;
        font-size: 14px;
        height: 17px; }
      .intro .intro_flex .nav_intro .active {
        color: #F16D7F;
        font-weight: bold; }

.slider {
  background: #F7F7F7;
  height: 777px;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative; }
  .slider .slide_img {
    display: flex !important;
    justify-content: center !important; }

.slick-prev {
  left: -2px !important; }

.slick-next {
  right: 3px !important; }

.slick-prev:before, .slick-next:before {
  color: red !important; }

.collection_women_flex {
  height: 601px;
  border: 1px solid #EAEAEA;
  position: absolute;
  z-index: 999;
  top: 700px;
  background: white;
  left: 0;
  right: 0; }
  .collection_women_flex .collection_women_title {
    margin-top: 64px;
    text-align: center; }
    .collection_women_flex .collection_women_title .collection_title {
      color: #F16D7F;
      font-size: 14px;
      position: relative; }
    .collection_women_flex .collection_women_title .collection_title::after {
      content: "";
      width: 63px;
      height: 3px;
      background: #EF5B70;
      position: absolute;
      top: 27px;
      left: 540px; }
    .collection_women_flex .collection_women_title .collection_text-1 {
      margin-top: 27px;
      color: #4D4D4D; }
    .collection_women_flex .collection_women_title .collection_text-2 {
      width: 555px;
      margin: 0 auto;
      font-size: 14px;
      margin-top: 48px; }
    .collection_women_flex .collection_women_title .collection_price {
      margin-top: 32px;
      color: #EF5B70; }
  .collection_women_flex .border_collection_women {
    margin: 0 auto;
    width: 642px;
    margin-top: 65px;
    height: 1px;
    background: #EAEAEA; }
  .collection_women_flex .sort {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-top: 64px; }
    .collection_women_flex .sort .sort_title {
      display: flex;
      gap: 9px;
      align-items: center; }
  .collection_women_flex .button {
    margin-top: 48px;
    display: flex;
    justify-content: center; }
    .collection_women_flex .button .btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 22px;
      width: 212px;
      height: 48px;
      border: 1px solid #FF6A6A;
      text-decoration: none;
      color: #F26376; }
      .collection_women_flex .button .btn .basket_btn {
        color: #EF5B70; }

.product_card {
  margin-top: 664px;
  margin-bottom: 128px; }
  .product_card .card_flex {
    display: flex;
    gap: 30px; }
    .product_card .card_flex .card {
      width: 360px;
      height: 581px;
      background: #F8F8F8; }
      .product_card .card_flex .card .card_img {
        width: 100%;
        height: 420px; }
      .product_card .card_flex .card .description_product {
        margin-top: 24px;
        width: 315px;
        margin-left: 16px; }
        .product_card .card_flex .card .description_product .card_name {
          color: #000000; }
        .product_card .card_flex .card .description_product .card_description {
          color: #5D5D5D;
          margin-top: 12px; }
        .product_card .card_flex .card .description_product .card_price {
          color: #F16D7F;
          margin-top: 18px; }

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.subscribe {
  height: 448px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(../img/subscribe.png) no-repeat; }
  .subscribe .subscribe_flex {
    display: flex;
    justify-content: space-around; }
    .subscribe .subscribe_flex .vestibulum {
      text-align: center;
      width: 290px;
      height: 225px; }
      .subscribe .subscribe_flex .vestibulum .img {
        width: 96px;
        height: 96px;
        display: contents; }
        .subscribe .subscribe_flex .vestibulum .img .img img {
          width: 100px;
          height: 100px; }
      .subscribe .subscribe_flex .vestibulum .vestibulum_title {
        margin-top: 30px; }
    .subscribe .subscribe_flex .email {
      text-align: center;
      margin-top: 40px; }
      .subscribe .subscribe_flex .email .email_title {
        font-size: 24px;
        font-weight: bold; }
      .subscribe .subscribe_flex .email .email_text {
        font-size: 18px; }
      .subscribe .subscribe_flex .email .email_subscrube {
        display: flex;
        margin-top: 32px; }
        .subscribe .subscribe_flex .email .email_subscrube .input {
          width: 234px;
          height: 49px;
          border: none;
          background: #E1E1E1;
          font-size: 14px;
          padding-left: 22px;
          border-radius: 25px 0 0 25px; }
        .subscribe .subscribe_flex .email .email_subscrube .btn_email {
          width: 120px;
          height: 49px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F16D7F;
          color: #FFFFFF;
          font-size: 14px;
          border-radius: 0 25px 25px 0;
          border: none; }

.footer {
  height: 79px;
  background: #222222; }
  .footer .footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer_flex .footer_title {
      color: #FBFBFB;
      margin-top: 30px; }
    .footer .footer_flex .footer_icon {
      margin-top: 24px;
      display: flex;
      gap: 7px; }
      .footer .footer_flex .footer_icon .social-icon {
        width: 31px;
        height: 32px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000000; }
      .footer .footer_flex .footer_icon .social-icon:hover {
        background: #F16D7F;
        color: #FFFFFF; }
