@charset "UTF-8";

@import 'module/var';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

@import 'module/header';

.intro{
  background: #F8F3F4;

  .intro_flex{
    height: 148px;
    color: #F16D7F;
    display: flex;
    justify-content: start;
    align-items: center;
  }
}


@import 'module/subscribe';

@import 'module/footer';