* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none; }

.container {
  max-width: 1160px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto; }

.header {
  background: #222222;
  padding: 19px 0; }
  .header_flex {
    display: flex;
    justify-content: space-between; }
    .header_flex .nav_left {
      display: flex;
      align-items: center; }
      .header_flex .nav_left a {
        text-decoration: none; }
        .header_flex .nav_left a .header_logo {
          margin-right: 33px; }
    .header_flex .nav_right {
      display: flex;
      align-items: center;
      gap: 30px; }
    .header_flex .basket_header {
      position: relative; }
      .header_flex .basket_header .amount {
        color: #FFFFFF;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        background: #F16D7F;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -9px;
        top: -6px; }

.intro {
  background: #F1E4E6;
  height: 764px; }
  .intro .intro_flex {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    .intro .intro_flex .intro_title {
      width: 405px;
      padding-left: 20px;
      border-left: 12px solid #F16D7F; }
      .intro .intro_flex .intro_title span {
        color: #F16D7F; }
  .intro .intro_flex {
    background: url(../img/man.png) no-repeat -228px; }

.category {
  margin-top: 65px; }
  .category .category_flex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; }
    .category .category_flex .category_item {
      background: red;
      height: 180px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .category .category_flex .category_item:not(:last-child) {
      width: 360px;
      height: 250px; }
    .category .category_flex .category_title {
      width: 159px;
      text-align: center; }
      .category .category_flex .category_title_title:not(:last-child) {
        width: 110px;
        text-align: center; }
      .category .category_flex .category_title .title_p {
        font-size: 12px;
        color: #F1E4E6; }
      .category .category_flex .category_title .title_span {
        font-size: 18px;
        color: #F16D7F; }
    .category .category_flex .item-1 {
      background: url(../img/women.png) no-repeat; }
    .category .category_flex .item-2 {
      background: url(../img/men.png) no-repeat; }
    .category .category_flex .item-3 {
      background: url(../img/kids.png) no-repeat; }
    .category .category_flex .item-4 {
      background: url(../img/accesories.png) no-repeat; }

.content {
  margin-top: 96px; }
  .content .content_title {
    text-align: center; }
    .content .content_title .fetured {
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: 14px;
      font-size: 30px; }
    .content .content_title .shop {
      color: #9F9F9F; }
  .content .content_cards {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px; }
    .content .content_cards .card {
      width: 360px;
      height: 581px;
      background: #F8F8F8;
      position: relative; }
      .content .content_cards .card .imeg_card {
        width: 100%;
        height: 420px;
        background: #000; }
      .content .content_cards .card .card_title {
        margin-top: 25px;
        margin-left: 18px;
        width: 314px; }
      .content .content_cards .card .name {
        font-size: 14px;
        font-weight: bold; }
      .content .content_cards .card .description_card {
        margin-top: 13px;
        font-size: 14px;
        color: #5D5D5D; }
      .content .content_cards .card .price {
        margin-top: 18px;
        font-size: 16px;
        color: #F16D7F; }
  .content .content_btn {
    margin-top: 48px;
    display: flex;
    justify-content: center; }
    .content .content_btn .btn {
      width: 212px;
      height: 48px;
      color: #F26376;
      border: 1px solid #FF6A6A;
      background: #fff;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none; }
    .content .content_btn .btn:hover {
      background: #FF6A6A;
      color: #FFFFFF; }

.menu_category {
  padding-top: 9px; }

.menu_wrap {
  position: relative; }
  .menu_wrap .menu_category {
    background: #FFFFFF;
    width: 232px;
    height: 764px;
    display: none;
    position: absolute;
    top: 54px;
    left: 110px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    padding-left: 30px; }
  .menu_wrap details {
    margin-top: 20px; }
    .menu_wrap details ul {
      margin-top: 12px;
      padding-left: 10px; }
      .menu_wrap details ul li {
        margin-top: 10px; }
  .menu_wrap summary {
    list-style: none;
    margin-top: 12px; }
  .menu_wrap details[open] summary {
    color: #F16D7F; }
  .menu_wrap ul li {
    list-style: none; }

.menu:hover {
  cursor: pointer; }

.close_menu {
  margin-top: 16px;
  display: flex;
  justify-content: end;
  padding-right: 16px; }

.close path:hover {
  fill: red; }

.add_basket {
  position: absolute;
  top: 180px;
  right: 110px;
  display: none; }
  .add_basket button {
    width: 139px;
    height: 44px;
    border: 1px solid #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
    font-size: 14px;
    color: #FFFFFF;
    background-color: rgba(28, 28, 28, 0); }
  .add_basket svg path {
    width: 26px;
    height: 23px;
    fill: #FFFFFF; }

.card:hover img {
  opacity: 0.6;
  transition: 0.3s linear; }

.card:hover .add_basket {
  display: block; }

.profile_menu_container {
  position: relative; }
  .profile_menu_container .profile_edit {
    position: absolute;
    width: 110px;
    height: 120px;
    background: #FFFFFF;
    color: #6F6E6E;
    text-align: center;
    display: none;
    top: 56px;
    right: -96px; }
    .profile_menu_container .profile_edit p {
      cursor: pointer;
      margin-top: 10px; }
    .profile_menu_container .profile_edit p:hover {
      border-bottom: 1px solid black; }

.description {
  margin-top: 95px;
  background: #222222; }
  .description .description_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 104px 0; }
  .description .box {
    width: 360px;
    text-align: center;
    color: #FBFBFB; }
    .description .box .description_title {
      font-size: 19px;
      font-weight: bold; }
    .description .box .delivery_title {
      margin-top: 28px; }
    .description .box .sale_title {
      margin-top: 19px; }
    .description .box .quality_title {
      margin-top: 25px; }
    .description .box .description_text {
      font-size: 13px;
      margin-top: 16px; }

.wrap {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto; }

.subscribe {
  height: 448px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(../img/subscribe.png) no-repeat; }
  .subscribe .subscribe_flex {
    display: flex;
    justify-content: space-around; }
    .subscribe .subscribe_flex .vestibulum {
      text-align: center;
      width: 290px;
      height: 225px; }
      .subscribe .subscribe_flex .vestibulum .img {
        width: 96px;
        height: 96px;
        display: contents; }
        .subscribe .subscribe_flex .vestibulum .img .img img {
          width: 100px;
          height: 100px; }
      .subscribe .subscribe_flex .vestibulum .vestibulum_title {
        margin-top: 30px; }
    .subscribe .subscribe_flex .email {
      text-align: center;
      margin-top: 40px; }
      .subscribe .subscribe_flex .email .email_title {
        font-size: 24px;
        font-weight: bold; }
      .subscribe .subscribe_flex .email .email_text {
        font-size: 18px; }
      .subscribe .subscribe_flex .email .email_subscrube {
        display: flex;
        margin-top: 32px; }
        .subscribe .subscribe_flex .email .email_subscrube .input {
          width: 234px;
          height: 49px;
          border: none;
          background: #E1E1E1;
          font-size: 14px;
          padding-left: 22px;
          border-radius: 25px 0 0 25px; }
        .subscribe .subscribe_flex .email .email_subscrube .btn_email {
          width: 120px;
          height: 49px;
          display: flex;
          align-items: center;
          justify-content: center;
          background: #F16D7F;
          color: #FFFFFF;
          font-size: 14px;
          border-radius: 0 25px 25px 0;
          border: none; }

.footer {
  height: 79px;
  background: #222222; }
  .footer .footer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .footer .footer_flex .footer_title {
      color: #FBFBFB;
      margin-top: 30px; }
    .footer .footer_flex .footer_icon {
      margin-top: 24px;
      display: flex;
      gap: 7px; }
      .footer .footer_flex .footer_icon .social-icon {
        width: 31px;
        height: 32px;
        background: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: #000000; }
      .footer .footer_flex .footer_icon .social-icon:hover {
        background: #F16D7F;
        color: #FFFFFF; }
