@charset 'UTF-8';

@import 'module/var';



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
  }

@import 'module/header';

@import 'module/intro';




    .cards{
        margin-top: 39px;

        .catalog{
            display: flex;
            
           
        
            
            .filter{
                padding-left: 20px;

                summary{
                    color: #000000;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    gap: 11px;
                    list-style: none;
                    path{
                        fill: #000000;
                    }
                }

                .category{
                    margin-top: 16px;
                    display: flex;
                    align-items: center;

                    .summary_category{
                        color: #000000;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        list-style: none;
                        padding-top: 11px;
                        padding-left: 11px;
                        padding-bottom: 11px;
                        margin-right: 15px;
                        border-left: 5px solid #EF5B70;
                        border-bottom: 1px solid #EBEBEB;
                    }
    
                    ul{
                        padding-top: px;
                        padding-left: 18px;
                        li{
                            list-style: none;
                            margin-top: 11px;
                            a{
                                text-decoration: none;
                                color: #6F6E6E;
                                font-size: $main-size;
                            }
                        }
                    }
                }

                .brand{
                    margin-top: 18px;
                    .summary_brand{
                        color: #000000;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        list-style: none;
                        padding-top: 11px;
                        padding-left: 11px;
                        padding-bottom: 11px;
                        margin-right: 15px;
                        border-left: 5px solid #EF5B70;
                        border-bottom: 1px solid #EBEBEB;
                    }
                }

                .designer{
                    margin-top: 18px;
                    .summary_designer{
                        color: #000000;
                        font-weight: bold;
                        display: flex;
                        align-items: center;
                        gap: 11px;
                        list-style: none;
                        padding-top: 11px;
                        padding-left: 11px;
                        padding-bottom: 11px;
                        margin-right: 15px;
                        border-left: 5px solid #EF5B70;
                        border-bottom: 1px solid #EBEBEB;
                    }
                }

            }
        

            .filter[open]{
                width: 360px;
                height: 531px;
                background: #FFFFFF;
                position: absolute;
                border: 1px solid black;

                // padding-right: 111px;

                summary{
                    color: #EF5B70;

                    path{
                        fill: #EF5B70;
                    }
                }

                .category[open]{
                    .summary_category{
                        color: #EF5B70;
                    }
                }

                .brand[open]{
                    margin-top: 24px;
                    .summary_brand{
                        color: #EF5B70;
                    }
                }

                .designer[open]{
                    .summary_designer{
                        color: #EF5B70;
                    }
                }
            }

    
            .sort{
                display: flex;
                gap: 28px;
                color: #6F6E6E;
                margin-left: 290px;

                details{
                    
                    summary{
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    
                    }
                }

                .size[open]{
                    width: 79px;
                    height: 103px;
                    position: absolute;

                    
                    display: block;                
                    summary{
                        display: block;
                        list-style: none;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    
                    }
                }
            }
        }
        

        
        .cards_flex{
            margin-top: 65px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 30px;

            .card{
                width: 360px;
                height: 581px;
                background: $card-bg;

                .img{
                    width: 100%;
                    height: 420px;
                }

                  .card_title{
                    margin-top: 25px;
                    margin-left: 18px;
                    width: 314px;

                    .name-card{
                        font-size: $main-bg;
                        font-weight: bold;
                    }
                      
                      .description-card{
                        margin-top: 13px;
                        font-size: $main-bg;
                        color: #5D5D5D;
                    }
                      
                      .price-card{
                        margin-top: 18px;
                        font-size: 16px;
                        color: #F16D7F;
                    }
                }
            }
        }
    }

    .pagination{
        margin-top: 48px;
        display: flex;
        justify-content: center;

        .pagination_flex{
            max-width: 284px;
            max-height: 44px;
            border: 1px solid #EBEBEB;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            .vector-left{
                color: #000000;
                text-decoration: none;
                padding-left: 15px;
              }
              
              .vector-right{
                color: #000000;
                text-decoration: none;
                padding-right: 15px;
              }
              
              .pagination-number{
                text-decoration: none;
                color: #C4C4C4;
                padding: 15px 10px;
              }
              
              .pagination-active{
                color: #EF5B70;
            }
        }
    }


@import 'module/description';

@import 'module/subscribe';

@import 'module/footer';


