@charset 'UTF-8';

@import 'module/var';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1160px;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
}

@import 'module/header';


.intro{
    background: #F1E4E6;
    height: 764px;

    .intro_flex{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .intro_title{
            width: 405px;
            padding-left: 20px;
            border-left: 12px solid #F16D7F;

            span{
                color: #F16D7F;
            }
        }
    }

    .intro_flex{
        background: url(../img/man.png) no-repeat -228px;
    }
}


.category{
    margin-top: 65px;

    .category_flex{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .category_item{
            background: red;
            height: 180px;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
            .category_item:not(:last-child){
                width: 360px;
                height: 250px;
            }

            .category_title{
                width: 159px;
                text-align: center;

                &_title:not(:last-child){
                    width: 110px;
                    text-align: center;
                }

                .title_p{
                    font-size: 12px;
                    color: #F1E4E6;
                }
    
                .title_span{
                    font-size: 18px;
                    color: #F16D7F;
                }
            }

        .item-1{
            background: url(../img/women.png) no-repeat;
        }
        
        .item-2{
            background: url(../img/men.png) no-repeat;
        }
        
        .item-3{
            background: url(../img/kids.png) no-repeat;
        }
        
        .item-4{
            background: url(../img/accesories.png) no-repeat;
        }
    }
}


.content{
    margin-top: 96px;

    .content_title{
        text-align: center;  
        
        .fetured{
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
            color: $main-size;
            font-size: 30px;
        }

        .shop{
            color: #9F9F9F;
        }
    }

    .content_cards{
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        gap: 30px;

        .card{
            width: 360px;
            height: 581px;
            background:  #F8F8F8;

            .imeg_card{
                width: 100%;
                height: 420px;
                background: red;
            }
            .card_title{
                margin-top: 25px;
                margin-left: 18px;
                width: 314px;
            }
            .name{
                font-size: $main-size;
                font-weight: bold;
            }
            .description_card{
                margin-top: 13px;
                font-size: $main-size;
                color: #5D5D5D;
            }
            .price{
                margin-top: 18px;
                font-size: 16px;
                color: $main-bg;
            }
        }
    }

    .content_btn{
        margin-top: 48px;
        display: flex;
        justify-content: center;

        .btn{
            width: 212px;
            height: 48px;
            color: #F26376;
            border: 1px solid #FF6A6A;
            background: #fff;
            font-size: $main-size;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        
        .btn:hover{
            background: #FF6A6A;
            color: #FFFFFF;
        }
    }
}

@import 'module/description';

@import 'module/subscribe';

@import 'module/footer';