@import 'var';



.footer{
    height: 79px;
    background: $main-bg;

    .footer_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer_title{
            color: #FBFBFB;
            margin-top: 30px;
        }

        .footer_icon{
            margin-top: 24px;
            display: flex;
            gap: 7px;

            .social-icon{
                width: 31px;
                height: 32px;
                background: #FFFFFF;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #000000;
            }

            .social-icon:hover{
                background: #F16D7F;
                color: #FFFFFF;
            }
        }
    }
}