.wrap{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
}
.subscribe{
    height: 448px;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    background: url(../img/subscribe.png) no-repeat;

    .subscribe_flex{
        display: flex;
        justify-content: space-around;

        .vestibulum{
            text-align: center;
            width: 290px;
            height: 225px;

            .img{
                width: 96px;
                height: 96px;
                display: contents;

                .img img{
                    width: 100px;
                    height: 100px;
                }
            }
            
            .vestibulum_title{
                margin-top: 30px;
            }
        }

        .email{
            text-align: center;
            margin-top: 40px;

            .email_title{
                font-size: 24px;
                font-weight: bold;
            }
            
            .email_text{
                font-size: 18px;
            }

            .email_subscrube{
                display: flex;
                margin-top: 32px;

                .input{
                    width: 234px;
                    height: 49px;
                    border: none;
                    background: #E1E1E1;
                    font-size: 14px;
                    padding-left: 22px;
                    border-radius: 25px 0 0 25px;
                }
                
                .btn_email{
                    width: 120px;
                    height: 49px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #F16D7F;
                    color: #FFFFFF;
                    font-size: 14px;
                    border-radius: 0 25px 25px 0;
                    border: none;
                }
            }
        }
    }
}